.bodyWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  position: absolute;
  float: right;
}

.copyRight{
  display:block;
  position:fixed;
  bottom:0;
  width:100%;
  justify-content: center;
  text-align: center;
  background:#eee;
  border:1px solid #ddd;
}


