.header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
  color: aliceblue;
  font-size: 80;
  background-color: rgb(69, 35, 163);
  padding-left: 20;
}

.bodyWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  position: absolute;
  float: right;
}


